<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title  >Duoc Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-chip>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>{{username}}</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" id="firstNameInput" class="slide-left-to-right" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input   id="lastNameInput" [(ngModel)]="apellido" class="slide-left-to-right" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nivel de educacion</ion-label>
      <ion-select [(ngModel)]="opcionSeleccionada">
        <ion-select-option value="Basica">Basica</ion-select-option>
        <ion-select-option value="Media">Media</ion-select-option>
        <ion-select-option value="Tecnica">Tecnica</ion-select-option>
        <ion-select-option value="Superior">Superior</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <!-- Mat Datepicker -->
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    </ion-item>   
  </ion-card>
  <ion-button color="warning" expand="full" (click)="mostrarAlerta()">Mostrar Alerta</ion-button>
  <ion-button color="warning" expand="full" (click)="limpiarCampos()">Limpiar</ion-button>
  <ion-button color="warning" expand="full" (click)="scan()">QR</ion-button>
  
</ion-content>
